---
title: "{{ site.name }}"
---
<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/favicon.svg' | url }}">
    <title>{% if title %}{{ title }} | {% endif %}{{ site.name }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}">
    <meta property="og:description" content="{{ description or site.description }}">
    {% if site.ogImage %}
    <meta property="og:image" content="{{ site.ogImage | url }}">
    {% endif %}
    <meta property="og:type" content="website">
    {% if site.url %}
    <meta property="og:url" content="{{ site.url | url }}">
    {% endif %}
    <link rel="stylesheet" href="{{ '/assets/font/fontawesome/css/all.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/slick.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/slick-theme.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/reset.css' | url }}">
    <link rel="stylesheet" href="{{ '/assets/css/common.css' | url }}">
    {% if css %}
    <link rel="stylesheet" href="{{ ('/assets/css/' + css + '.css') | url }}">
    {% endif %}
  </head>
  <body{% if bodyId %} id="{{ bodyId }}"{% endif %}>
    {% include "Header.njk" %}
    {{ content | safe }}
    {% include "Footer.njk" %}
    <script src="{{ '/assets/js/vendor/jquery-3.6.3.min.js' | url }}"></script>
    <script src="{{ '/assets/js/vendor/slick.min.js' | url }}"></script>
    <script src="{{ '/assets/js/common.js' | url }}"></script>
    <script src="{{ '/assets/js/pop.js' | url }}"></script>
    <script src="{{ '/assets/js/vendor/gsap.min.js' | url }}"></script>
    <script src="{{ '/assets/js/vendor/ScrollTrigger.min.js' | url }}"></script>
    {% if js %}
    <script src="{{ ('/assets/js/' + js + '.js') | url }}"></script>
    {% endif %}
    <script src="{{ '/assets/js/app.js' | url }}" defer></script>
  </body>
</html>
