---
layout: layout.njk
css: index
title: Home
---

<main>
  <section class="hero">
    <div class="container-lg">
      <h1 class="hero__title">{{ site.name }}</h1>
      <p class="hero__lead">{{ site.description }}</p>
      <p><a href="{{ '/sample/' | url }}">サンプル下層ページへ</a></p>
    </div>
  </section>
</main>
