---
layout: layout.njk
css: index
js: fv-animation
bodyId: top
title: Home
---

{% include "fv.njk" %}

<main>
  <section class="below-fv">
    <div class="container-lg">
      <p class="below-fv__lead">{{ site.description }}</p>
      <p><a href="{{ '/sample/' | url }}">サンプル下層ページへ</a></p>
    </div>
  </section>
</main>
